<% provide(:title, 'Categories') %>
<!DOCTYPE html>
  <h2 align = "center">--Header--</h2>
    <div class = "search">
      <input type= "text" placeholder = "Search Your Favorite Local Food" >
      <img src = "http://ts1.mm.bing.net/th?id=HN.608009636537566145&w=128&h=128&c=7&rs=1&pid=1.7" class = "searchIcon" width = "35px" height = "35px" >
    </div>
    <h1>Categories</h1>
    <div class = "grid">
      <table width = 100% >
        <tr align = "center" >
          <td>
            <a href = "/beef" >
            <img src="http://upload.wikimedia.org/wikipedia/commons/4/44/Cow-IMG_2050.JPG" class = "category" >
            <p align = "center">Beef</p>
            </a>
          </td>
          <td>
            <a href = "/pork" >
            <img src = "http://ts2.mm.bing.net/th?id=HN.608050610527406290&w=219&h=169&c=7&rs=1&pid=1.7" class = "category" >
            <p align = "center">Pork</p>
            </a>
          </td>
          <td>
            <a href = "/chicken" >
            <img src = "http://ts4.mm.bing.net/th?id=HN.607997778132077350&w=321&h=188&c=7&rs=1&pid=1.7" class = "category" >
            <p align = "center">Chicken</p>
            </a>
          </td>
          <td>
            <a href = "/eggs" >
            <img src = "http://3.bp.blogspot.com/-XIOqTfaXFo8/Tg1RLBNzPeI/AAAAAAAAA1o/KfhJkjp1V2U/s1600/Eggs.JPG" class = "category" >
            <p align = "center">Eggs</p>
            </a>
          </td>
	</tr>
	<tr align = "center" >
          <td>      
	    <a href = "/dairy" >
	    <img src = "http://blog.propertycrown.com/wp-content/uploads/2012/06/dairy.jpg" class = "category" >
            <p align = "center">Dairy</p>
            </a>
          </td>
          <td>
            <a href = "/fruits" >
            <img src = "http://harveypam.files.wordpress.com/2011/09/fruits.jpg" class = "category" >
            <p align = "center">Fruits</p>
            </a>
          </td>
          <td>
            <a href = "/veggies" >
            <img src = "http://www.blog.montessoriforeveryone.com/blog/uploaded_images/veggies-719542.jpg" class = "category" >
            <p align = "center">Veggies</p>
            </a>
          </td>
          <td>
            <a href = "/grains" >
            <img src = "http://ts1.mm.bing.net/th?id=HN.608031137148570461&pid=1.7" class = "category" >
            <p align = "center">Grains</p>
            </a>
          </td>
	<tr align = "center" >
          <td>
            <a href = "/legumes" >
            <img src = "http://ts2.mm.bing.net/th?id=HN.608023139918286288&w=250&h=187&c=7&rs=1&qlt=80&pid=1.7" class = "category" >
            <p align = "center">Legumes</p>
            </a>
          </td>
          <td>
            <a href = "/misc" >
            <img src = "http://www.elks-canada.org/uploads/Image/Miscellaneous_396x264.jpg" class = "category" >
            <p align = "center">Miscellaneous</p>
          </td>
        </tr>
      </table>
    </div>
  <h2 align = "center">--Footer--</h2>
</html>
