.search{
  float: right;
  margin: 10px 15px;
}

.searchIcon{
  vertical-align: middle;
}

.center{
  height: 20px;
  width: 20px;
}

.category{
  margin: 25px 50px 0px;
  height: 200px;
  width: 200px;
}
